# data & outputs
outputs/
Yelp-JSON/
*.ipynb_checkpoints/
.DS_Store
*.parquet
*.feather
*.csv
*.tsv
.json

# Ignore everything in outputs
/outputs/*

# But keep everything inside outputs
!/outputs/**/*.csv
!/outputs/**/*.png
!/outputs/**/*.md

# Specifically ignore this one file
/outputs/business_clean.csv
