# ----------------------
# General ignores
# ----------------------
*.ipynb_checkpoints/
.DS_Store
*.parquet
*.feather
*.tsv
*.json

# Ignore all CSVs everywhere by default
*.csv

# ----------------------
# Outputs folder rules
# ----------------------
# Ignore everything inside outputs
/outputs/*

# Allow specific file types in outputs
!/outputs/**/*.csv
!/outputs/**/*.png
!/outputs/**/*.md

# Re-ignore this one file
/outputs/business_clean.csv
