# General
*.ipynb_checkpoints/
.DS_Store
*.parquet
*.feather
*.tsv
*.json
*.csv                         # ignore CSVs everywhere by default

# outputs: ignore everything first
/outputs/**

# then allow walking into outputs subfolders
!/outputs/
!/outputs/**/

# then re-include only these file types in outputs
!/outputs/**/*.csv
!/outputs/**/*.png
!/outputs/**/*.jpg
!/outputs/**/*.jpeg
!/outputs/**/*.svg
!/outputs/**/*.md

# but still ignore this one file
/outputs/business_clean.csv
